resume-data/src/main/resources/ias_data_types.xsd

<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8. 
-->
<xs:schema xmlns:tns="http://spi2.ru/jaxws/datatypes" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://spi2.ru/jaxws/datatypes">
<xs:element name="CheckAndSaveRegistrCounterpartySRM_Async" type="tns:CheckAndSaveRegistrCounterpartySRM_Async"/>
<xs:element name="CheckAndSaveRegistrCounterpartySRM_AsyncResponse" type="tns:CheckAndSaveRegistrCounterpartySRM_AsyncResponse"/>
<xs:element name="ConcurrentProcedureConclusionRequestAsync" type="tns:ConcurrentProcedureConclusionRequestAsync"/>
<xs:element name="ConcurrentProcedureConclusionRequestAsyncResponse" type="tns:ConcurrentProcedureConclusionRequestAsyncResponse"/>
<xs:element name="ContractConclusionRequestAsync" type="tns:ContractConclusionRequestAsync"/>
<xs:element name="ContractConclusionRequestAsyncResponse" type="tns:ContractConclusionRequestAsyncResponse"/>
<xs:element name="PutContractStatus" type="tns:PutContractStatus"/>
<xs:element name="PutContractStatusResponse" type="tns:PutContractStatusResponse"/>
<xs:element name="PutCounterpartyInfo" type="tns:PutCounterpartyInfo"/>
<xs:element name="PutCounterpartyInfoResponse" type="tns:PutCounterpartyInfoResponse"/>
<xs:element name="PutHistoricalContracts" type="tns:PutHistoricalContracts"/>
<xs:element name="PutHistoricalContractsResponse" type="tns:PutHistoricalContractsResponse"/>
<xs:element name="cisTask" type="tns:task"/>
<xs:element name="task" nillable="true" type="xs:anyType"/>
<xs:complexType name="ContractConclusionRequestAsync">
<xs:sequence>
<xs:element name="header" type="tns:Header" minOccurs="0"/>
<xs:element name="cisTask" type="tns:task" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Header">
<xs:sequence>
<xs:element name="requestid" type="xs:long"/>
<xs:element name="externalsystem" type="xs:string"/>
<xs:element name="requestdate" type="xs:dateTime"/>
<xs:element name="senddate" type="xs:dateTime"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="task">
<xs:sequence>
<xs:element name="task_id" type="xs:string" minOccurs="0"/>
<xs:element name="taskUrl" type="xs:string" minOccurs="0"/>
<xs:element name="taskDateTime" type="xs:dateTime" minOccurs="0"/>
<xs:element name="contract" type="tns:Contract"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Contract">
<xs:sequence>
<xs:element name="contract_id" type="xs:string"/>
<xs:element name="doc_date" type="xs:date"/>
<xs:element name="card_date" type="xs:date"/>
<xs:element name="user_conract_id" type="xs:string" minOccurs="0"/>
<xs:element name="sibur_org" type="tns:Dictionary" minOccurs="0"/>
<xs:element name="reg_num" type="xs:string"/>
<xs:element name="reg_date" type="xs:date"/>
<xs:element name="counterparty_info" type="tns:CounterpartyInfo"/>
<xs:element name="contract_url" type="xs:string" minOccurs="0"/>
<xs:element name="procedure_number" type="xs:string" minOccurs="0"/>
<xs:element name="subject" type="xs:string" minOccurs="0"/>
<xs:element name="sub_category" type="tns:Dictionary" minOccurs="0"/>
<xs:element name="kind" type="tns:Dictionary" minOccurs="0"/>
<xs:element name="kind_dd" type="tns:Dictionary" minOccurs="0"/>
<xs:element name="amount_vv" type="xs:decimal" minOccurs="0"/>
<xs:element name="amount_transaction" type="xs:decimal" minOccurs="0"/>
<xs:element name="amount_total" type="xs:decimal" minOccurs="0"/>
<xs:element name="framework" type="xs:boolean"/>
<xs:element name="advance_payment_type" type="tns:Dictionary" minOccurs="0"/>
<xs:element name="advance_payment_amount" type="xs:decimal" minOccurs="0"/>
<xs:element name="postponement" type="xs:boolean"/>
<xs:element name="kind_vz" type="tns:Dictionary" minOccurs="0"/>
<xs:element name="safe_list" type="xs:boolean"/>
<xs:element name="is_default" type="xs:string" minOccurs="0"/>
<xs:element name="urgent" type="xs:string" minOccurs="0"/>
<xs:element name="approval_stage" type="tns:Dictionary" minOccurs="0"/>
<xs:element name="version" type="xs:string" minOccurs="0"/>
<xs:element name="receive_date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="completeon_date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="visa" type="tns:Dictionary" minOccurs="0"/>
<xs:element name="note" type="xs:string" minOccurs="0"/>
<xs:element name="be" type="tns:Dictionary" minOccurs="0"/>
<xs:element name="person_list" type="tns:ContractPerson" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Dictionary">
<xs:sequence>
<xs:element name="code" type="xs:string"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CounterpartyInfo">
<xs:sequence>
<xs:element name="asvnsicode" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ContractPerson">
<xs:sequence>
<xs:element name="role" type="tns:Dictionary" minOccurs="0"/>
<xs:element name="employee" type="tns:Employee"/>
<xs:element name="function" type="tns:Dictionary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Employee">
<xs:sequence>
<xs:element name="PersonnelNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ContractConclusionRequestAsyncResponse">
<xs:sequence>
<xs:element name="ResponseSync" type="tns:ResponseSync" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ResponseSync">
<xs:sequence>
<xs:element name="resultCode" type="xs:string" minOccurs="0"/>
<xs:element name="resultMessage" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PutCounterpartyInfo">
<xs:sequence>
<xs:element name="header" type="tns:Header" minOccurs="0"/>
<xs:element name="registrationRegrequestId" type="xs:decimal" minOccurs="0"/>
<xs:element name="counterparty" type="tns:Counterparty" minOccurs="0"/>
<xs:element name="counterpartySapIdentities" type="tns:CounterpartySapIdentities" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Counterparty">
<xs:sequence>
<xs:element name="companyRus" type="tns:CompanyRus" minOccurs="0"/>
<xs:element name="flPrivateEntrepreneur" type="tns:PrivateEntrepreneur" minOccurs="0"/>
<xs:element name="fl" type="tns:PersonRUS" minOccurs="0"/>
<xs:element name="companyForeign" type="tns:ForeignCompany" minOccurs="0"/>
<xs:element name="bankDetails" type="tns:BankDetail" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="contacts" type="tns:Contact" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="confirmLocation" type="tns:Attachment" minOccurs="0"/>
<xs:element name="confirmAbility" type="tns:Attachment" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CompanyRus">
<xs:sequence>
<xs:element name="fullName" type="xs:string" minOccurs="0"/>
<xs:element name="shortName" type="xs:string" minOccurs="0"/>
<xs:element name="inn" type="xs:string"/>
<xs:element name="kpp" type="xs:string" minOccurs="0"/>
<xs:element name="ogrn" type="xs:string" minOccurs="0"/>
<xs:element name="okpo" type="xs:string"/>
<xs:element name="bic" type="xs:string"/>
<xs:element name="asv_nsi_code" type="xs:string" minOccurs="0"/>
<xs:element name="sparkid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PrivateEntrepreneur">
<xs:sequence>
<xs:element name="inn" type="xs:string"/>
<xs:element name="ogrnip" type="xs:string"/>
<xs:element name="fio" type="xs:string" minOccurs="0"/>
<xs:element name="okpo" type="xs:string" minOccurs="0"/>
<xs:element name="asv_nsi_code" type="xs:string" minOccurs="0"/>
<xs:element name="sparkid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PersonRUS">
<xs:sequence>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="secondName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="inn" type="xs:string"/>
<xs:element name="socialSecurityNumber" type="xs:string" minOccurs="0"/>
<xs:element name="birthDate" type="xs:date" minOccurs="0"/>
<xs:element name="birthPlace" type="xs:string" minOccurs="0"/>
<xs:element name="passport" type="tns:Passport" minOccurs="0"/>
<xs:element name="asv_nsi_code" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Passport">
<xs:sequence>
<xs:element name="series" type="xs:string"/>
<xs:element name="number" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ForeignCompany">
<xs:sequence>
<xs:element name="regNum" type="xs:string"/>
<xs:element name="regDate" type="xs:date"/>
<xs:element name="issuingAuthority" type="xs:string"/>
<xs:element name="fullName" type="xs:string"/>
<xs:element name="shortName" type="xs:string"/>
<xs:element name="nativeName" type="xs:string"/>
<xs:element name="nativeShortName" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string"/>
<xs:element name="phoneNumber" type="xs:string"/>
<xs:element name="email" type="xs:string"/>
<xs:element name="site" type="xs:string"/>
<xs:element name="asv_nsi_code" type="xs:string" minOccurs="0"/>
<xs:element name="addresses" type="tns:Address" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Address">
<xs:sequence>
<xs:element name="addrType" type="tns:AddressTypes"/>
<xs:element name="mailBox" type="xs:string" minOccurs="0"/>
<xs:element name="country" type="xs:string"/>
<xs:element name="city" type="xs:string"/>
<xs:element name="postalCode" type="xs:string"/>
<xs:element name="street" type="xs:string"/>
<xs:element name="house" type="xs:string"/>
<xs:element name="room" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="BankDetail">
<xs:sequence>
<xs:element name="country" type="xs:string"/>
<xs:element name="bic" type="xs:string"/>
<xs:element name="swift" type="xs:string"/>
<xs:element name="checkingAccount" type="xs:string"/>
<xs:element name="accountCurrency" type="xs:string"/>
<xs:element name="bankName" type="xs:string" minOccurs="0"/>
<xs:element name="correspondentAccount" type="xs:string" minOccurs="0"/>
<xs:element name="bankAddress" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Contact">
<xs:sequence>
<xs:element name="fio" type="xs:string" minOccurs="0"/>
<xs:element name="firstName" type="xs:string" minOccurs="0"/>
<xs:element name="secondName" type="xs:string" minOccurs="0"/>
<xs:element name="lastName" type="xs:string" minOccurs="0"/>
<xs:element name="inn" type="xs:string" minOccurs="0"/>
<xs:element name="post" type="xs:string" minOccurs="0"/>
<xs:element name="phone" type="xs:string" minOccurs="0"/>
<xs:element name="email" type="xs:string" minOccurs="0"/>
<xs:element name="language" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Attachment">
<xs:sequence>
<xs:element name="AttachmentType" type="xs:string" minOccurs="0"/>
<xs:element name="AttachmentName" type="xs:string" minOccurs="0"/>
<xs:element name="FileName" type="xs:string"/>
<xs:element name="FileExtension" type="xs:string"/>
<xs:element name="attachment_body" type="xs:base64Binary"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CounterpartySapIdentities">
<xs:sequence>
<xs:element name="sap_srm_id" type="xs:decimal"/>
<xs:element name="regDate" type="xs:date"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PutCounterpartyInfoResponse">
<xs:sequence>
<xs:element name="ResponseSync" type="tns:ResponseSync" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PutContractStatus">
<xs:sequence>
<xs:element name="header" type="tns:Header" minOccurs="0"/>
<xs:element name="contractId" type="xs:string" minOccurs="0"/>
<xs:element name="approvalStage" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PutContractStatusResponse">
<xs:sequence>
<xs:element name="ResponseSync" type="tns:ResponseSync" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CheckAndSaveRegistrCounterpartySRM_Async">
<xs:sequence>
<xs:element name="header" type="tns:Header" minOccurs="0"/>
<xs:element name="counterparty" type="tns:Counterparty" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="CheckAndSaveRegistrCounterpartySRM_AsyncResponse">
<xs:sequence>
<xs:element name="ResponseSync" type="tns:ResponseSync" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PutHistoricalContracts">
<xs:sequence>
<xs:element name="header" type="tns:Header" minOccurs="0"/>
<xs:element name="contracts" type="tns:Contract" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="PutHistoricalContractsResponse">
<xs:sequence>
<xs:element name="ResponseSync" type="tns:ResponseSync" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ConcurrentProcedureConclusionRequestAsync">
<xs:sequence>
<xs:element name="header" type="tns:Header" minOccurs="0"/>
<xs:element name="concurrentProcedure" type="tns:ConcurrentProcedure" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ConcurrentProcedure">
<xs:sequence>
<xs:element name="procedureNumber" type="xs:string" form="qualified"/>
<xs:element name="procedureStepNumber" type="xs:string" form="qualified"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="status_date" type="xs:dateTime" minOccurs="0"/>
<xs:element name="participatorsOffers" type="tns:Offer" form="qualified" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="Offer">
<xs:sequence>
<xs:element name="offertaAmmount" type="xs:decimal" form="qualified" minOccurs="0"/>
<xs:element name="sap_srm_id" type="xs:decimal" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ConcurrentProcedureConclusionRequestAsyncResponse">
<xs:sequence>
<xs:element name="ResponseSync" type="tns:ResponseSync" form="qualified" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
<xs:simpleType name="AddressTypes">
<xs:restriction base="xs:string">
<xs:enumeration value="LEGALADDR"/>
<xs:enumeration value="POSTADDR"/>
<xs:enumeration value="ACTUAL"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>