resume-service/src/main/resources/webapp/WEB-INF/wsdl/CounterpartyControlService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is JAX-WS RI 2.3.2-1 git-revision#dbe58a8. -->
<definitions targetNamespace="http://spi2.ru/jaxws/datatypes" name="CounterpartyControlService"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://spi2.ru/jaxws/datatypes" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xs:schema version="1.0" targetNamespace="http://spi2.ru/jaxws/datatypes" xmlns:xs="http://www.w3.org/2001/XMLSchema">

      <xs:element name="CheckAndSaveRegistrCounterpartySRM_Async" type="tns:CheckAndSaveRegistrCounterpartySRM_Async"/>

      <xs:element name="CheckAndSaveRegistrCounterpartySRM_AsyncResponse" type="tns:CheckAndSaveRegistrCounterpartySRM_AsyncResponse"/>

      <xs:element name="ConcurrentProcedureConclusionRequestAsync" type="tns:ConcurrentProcedureConclusionRequestAsync"/>

      <xs:element name="ConcurrentProcedureConclusionRequestAsyncResponse" type="tns:ConcurrentProcedureConclusionRequestAsyncResponse"/>

      <xs:element name="ContractConclusionRequestAsync" type="tns:ContractConclusionRequestAsync"/>

      <xs:element name="ContractConclusionRequestAsyncResponse" type="tns:ContractConclusionRequestAsyncResponse"/>

      <xs:element name="CounterpartySapIdentities" type="tns:CounterpartySapIdentities"/>

      <xs:element name="PutContractStatus" type="tns:PutContractStatus"/>

      <xs:element name="PutContractStatusResponse" type="tns:PutContractStatusResponse"/>

      <xs:element name="PutCounterpartyInfo" type="tns:PutCounterpartyInfo"/>

      <xs:element name="PutCounterpartyInfoResponse" type="tns:PutCounterpartyInfoResponse"/>

      <xs:element name="PutHistoricalContracts" type="tns:PutHistoricalContracts"/>

      <xs:element name="PutHistoricalContractsResponse" type="tns:PutHistoricalContractsResponse"/>

      <xs:element name="cisTask" type="tns:CISTask"/>

      <xs:element name="concurrentProcedure" type="tns:ConcurrentProcedure"/>

      <xs:complexType name="ContractConclusionRequestAsync">
        <xs:sequence>
          <xs:element name="header" type="tns:Header" minOccurs="0"/>
          <xs:element name="cisTask" type="tns:CISTask" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Header">
        <xs:sequence>
          <xs:element name="requestid" type="xs:long"/>
          <xs:element name="externalsystem" type="xs:string"/>
          <xs:element name="requestdate" type="xs:dateTime"/>
          <xs:element name="senddate" type="xs:dateTime"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CISTask">
        <xs:sequence>
          <xs:element name="task_id" type="xs:string" minOccurs="0"/>
          <xs:element name="taskUrl" type="xs:string" minOccurs="0"/>
          <xs:element name="taskDateTime" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="contract" type="tns:Contract"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Contract">
        <xs:sequence>
          <xs:element name="contract_id" type="xs:string"/>
          <xs:element name="doc_date" type="xs:date"/>
          <xs:element name="card_date" type="xs:date"/>
          <xs:element name="user_conract_id" type="xs:string" minOccurs="0"/>
          <xs:element name="sibur_org" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="reg_num" type="xs:string"/>
          <xs:element name="reg_date" type="xs:date"/>
          <xs:element name="counterparty_info" type="tns:CounterpartyInfo"/>
          <xs:element name="contract_url" type="xs:string" minOccurs="0"/>
          <xs:element name="procedure_number" type="xs:string" minOccurs="0"/>
          <xs:element name="subject" type="xs:string" minOccurs="0"/>
          <xs:element name="sub_category" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="kind" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="kind_dd" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="amount_vv" type="xs:decimal" minOccurs="0"/>
          <xs:element name="amount_transaction" type="xs:decimal" minOccurs="0"/>
          <xs:element name="amount_total" type="xs:decimal" minOccurs="0"/>
          <xs:element name="framework" type="xs:boolean"/>
          <xs:element name="advance_payment_type" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="advance_payment_amount" type="xs:decimal" minOccurs="0"/>
          <xs:element name="postponement" type="xs:boolean"/>
          <xs:element name="kind_vz" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="safe_list" type="xs:boolean"/>
          <xs:element name="is_default" type="xs:string" minOccurs="0"/>
          <xs:element name="urgent" type="xs:string" minOccurs="0"/>
          <xs:element name="approval_stage" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="version" type="xs:string" minOccurs="0"/>
          <xs:element name="receive_date" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="completeon_date" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="visa" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="note" type="xs:string" minOccurs="0"/>
          <xs:element name="be" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="person_list" type="tns:ContractPerson" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Dictionary">
        <xs:sequence>
          <xs:element name="code" type="xs:string"/>
          <xs:element name="description" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CounterpartyInfo">
        <xs:sequence>
          <xs:element name="asvnsicode" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ContractPerson">
        <xs:sequence>
          <xs:element name="role" type="tns:Dictionary" minOccurs="0"/>
          <xs:element name="employee" type="tns:Employee"/>
          <xs:element name="function" type="tns:Dictionary" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Employee">
        <xs:sequence>
          <xs:element name="PersonnelNumber" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ContractConclusionRequestAsyncResponse">
        <xs:sequence>
          <xs:element name="ResponseSync" type="tns:SyncResponse" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="SyncResponse">
        <xs:sequence>
          <xs:element name="resultCode" type="xs:string" minOccurs="0"/>
          <xs:element name="resultMessage" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutCounterpartyInfo">
        <xs:sequence>
          <xs:element name="header" type="tns:Header" minOccurs="0"/>
          <xs:element name="registrationRegrequestId" type="xs:string" minOccurs="0"/>
          <xs:element name="counterparty" type="tns:Counterparty" minOccurs="0"/>
          <xs:element name="counterpartySapIdentities" type="tns:CounterpartySapIdentities" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Counterparty">
        <xs:sequence>
          <xs:element name="isNew" type="xs:boolean"/>
          <xs:element name="needAtributeUpdate" type="xs:boolean"/>
          <xs:element name="isResident" type="xs:boolean"/>
          <xs:element name="isEntrepreneur" type="xs:boolean"/>
          <xs:element name="companyRus" type="tns:CompanyRus" minOccurs="0"/>
          <xs:element name="flPrivateEntrepreneur" type="tns:PrivateEntrepreneur" minOccurs="0"/>
          <xs:element name="companyForeign" type="tns:CompanyForeign" minOccurs="0"/>
          <xs:element name="bankDetails" type="tns:BankDetail" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="contacts" type="tns:Contact" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
          <xs:element name="confirmLocation" type="tns:Attachment" minOccurs="0"/>
          <xs:element name="confirmAbility" type="tns:Attachment" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CompanyRus">
        <xs:sequence>
          <xs:element name="fullName" type="xs:string" minOccurs="0"/>
          <xs:element name="shortName" type="xs:string" minOccurs="0"/>
          <xs:element name="inn" type="xs:string"/>
          <xs:element name="kpp" type="xs:string" minOccurs="0"/>
          <xs:element name="ogrn" type="xs:string" minOccurs="0"/>
          <xs:element name="okpo" type="xs:string"/>
          <xs:element name="bic" type="xs:string"/>
          <xs:element name="asv_nsi_code" type="xs:string" minOccurs="0"/>
          <xs:element name="sparkid" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PrivateEntrepreneur">
        <xs:sequence>
          <xs:element name="inn" type="xs:string"/>
          <xs:element name="ogrnip" type="xs:string"/>
          <xs:element name="fio" type="xs:string" minOccurs="0"/>
          <xs:element name="okpo" type="xs:string" minOccurs="0"/>
          <xs:element name="asv_nsi_code" type="xs:string" minOccurs="0"/>
          <xs:element name="sparkid" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CompanyForeign">
        <xs:sequence>
          <xs:element name="regNum" type="xs:string"/>
          <xs:element name="regDate" type="xs:date"/>
          <xs:element name="issuingAuthority" type="xs:string"/>
          <xs:element name="fullName" type="xs:string"/>
          <xs:element name="shortName" type="xs:string"/>
          <xs:element name="nativeName" type="xs:string"/>
          <xs:element name="nativeShortName" type="xs:string" minOccurs="0"/>
          <xs:element name="country" type="xs:string"/>
          <xs:element name="phoneNumber" type="xs:string"/>
          <xs:element name="email" type="xs:string"/>
          <xs:element name="site" type="xs:string"/>
          <xs:element name="asv_nsi_code" type="xs:string" minOccurs="0"/>
          <xs:element name="addresses" type="tns:Address" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Address">
        <xs:sequence>
          <xs:element name="addrType" type="tns:AddressTypes"/>
          <xs:element name="mailBox" type="xs:string" minOccurs="0"/>
          <xs:element name="country" type="xs:string"/>
          <xs:element name="city" type="xs:string"/>
          <xs:element name="postalCode" type="xs:string"/>
          <xs:element name="street" type="xs:string"/>
          <xs:element name="house" type="xs:string"/>
          <xs:element name="room" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="BankDetail">
        <xs:sequence>
          <xs:element name="country" type="xs:string"/>
          <xs:element name="bic" type="xs:string"/>
          <xs:element name="swift" type="xs:string"/>
          <xs:element name="checkingAccount" type="xs:string"/>
          <xs:element name="accountCurrency" type="xs:string"/>
          <xs:element name="bankName" type="xs:string" minOccurs="0"/>
          <xs:element name="correspondentAccount" type="xs:string" minOccurs="0"/>
          <xs:element name="bankAddress" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Contact">
        <xs:sequence>
          <xs:element name="contact_guid" type="xs:string"/>
          <xs:element name="fio" type="xs:string" minOccurs="0"/>
          <xs:element name="firstName" type="xs:string" minOccurs="0"/>
          <xs:element name="secondName" type="xs:string" minOccurs="0"/>
          <xs:element name="lastName" type="xs:string" minOccurs="0"/>
          <xs:element name="inn" type="xs:string" minOccurs="0"/>
          <xs:element name="post" type="xs:string" minOccurs="0"/>
          <xs:element name="phone" type="xs:string" minOccurs="0"/>
          <xs:element name="email" type="xs:string" minOccurs="0"/>
          <xs:element name="language" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Attachment">
        <xs:sequence>
          <xs:element name="AttachmentType" type="xs:string" minOccurs="0"/>
          <xs:element name="AttachmentName" type="xs:string" minOccurs="0"/>
          <xs:element name="FileName" type="xs:string"/>
          <xs:element name="FileExtension" type="xs:string"/>
          <xs:element name="attachment_body" type="xs:base64Binary"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CounterpartySapIdentities">
        <xs:sequence>
          <xs:element name="sap_srm_id" type="xs:decimal"/>
          <xs:element name="regDate" type="xs:date"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutCounterpartyInfoResponse">
        <xs:sequence>
          <xs:element name="ResponseSync" type="tns:SyncResponse" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutContractStatus">
        <xs:sequence>
          <xs:element name="header" type="tns:Header" minOccurs="0"/>
          <xs:element name="contractId" type="xs:string" minOccurs="0"/>
          <xs:element name="approvalStage" type="xs:string" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutContractStatusResponse">
        <xs:sequence>
          <xs:element name="ResponseSync" type="tns:SyncResponse" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CheckAndSaveRegistrCounterpartySRM_Async">
        <xs:sequence>
          <xs:element name="header" type="tns:Header" minOccurs="0"/>
          <xs:element name="registrreq_guid" type="xs:string" minOccurs="0"/>
          <xs:element name="counterparty" type="tns:Counterparty" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="CheckAndSaveRegistrCounterpartySRM_AsyncResponse">
        <xs:sequence>
          <xs:element name="ResponseSync" type="tns:SyncResponse" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ConcurrentProcedureConclusionRequestAsync">
        <xs:sequence>
          <xs:element name="header" type="tns:Header" minOccurs="0"/>
          <xs:element name="concurrentProcedure" type="tns:ConcurrentProcedure" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ConcurrentProcedure">
        <xs:sequence>
          <xs:element name="procedureNumber" type="xs:string"/>
          <xs:element name="procedureStepNumber" type="xs:string"/>
          <xs:element name="status" type="xs:string" minOccurs="0"/>
          <xs:element name="status_date" type="xs:dateTime" minOccurs="0"/>
          <xs:element name="participatorsOffers" type="tns:Offer" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="Offer">
        <xs:sequence>
          <xs:element name="sap_srm_id" type="xs:decimal"/>
          <xs:element name="prtcip_request_guid" type="xs:string"/>
          <xs:element name="offertaAmmount" type="xs:decimal" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="ConcurrentProcedureConclusionRequestAsyncResponse">
        <xs:sequence>
          <xs:element name="ResponseSync" type="tns:SyncResponse" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutHistoricalContracts">
        <xs:sequence>
          <xs:element name="header" type="tns:Header" minOccurs="0"/>
          <xs:element name="contracts" type="tns:Contract" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="PutHistoricalContractsResponse">
        <xs:sequence>
          <xs:element name="ResponseSync" type="tns:SyncResponse" form="qualified" minOccurs="0"/>
        </xs:sequence>
      </xs:complexType>

      <xs:simpleType name="AddressTypes">
        <xs:restriction base="xs:string">
          <xs:enumeration value="LEGALADDR"/>
          <xs:enumeration value="POSTADDR"/>
          <xs:enumeration value="ACTUAL"/>
        </xs:restriction>
      </xs:simpleType>
</xs:schema>
  </types>
  <message name="CheckAndSaveRegistrCounterpartySRM_Async">
    <part name="parameters" element="tns:CheckAndSaveRegistrCounterpartySRM_Async"/>
  </message>
  <message name="CheckAndSaveRegistrCounterpartySRM_AsyncResponse">
    <part name="parameters" element="tns:CheckAndSaveRegistrCounterpartySRM_AsyncResponse"/>
  </message>
  <message name="ConcurrentProcedureConclusionRequestAsync">
    <part name="parameters" element="tns:ConcurrentProcedureConclusionRequestAsync"/>
  </message>
  <message name="ConcurrentProcedureConclusionRequestAsyncResponse">
    <part name="parameters" element="tns:ConcurrentProcedureConclusionRequestAsyncResponse"/>
  </message>
  <message name="PutCounterpartyInfo">
    <part name="parameters" element="tns:PutCounterpartyInfo"/>
  </message>
  <message name="PutCounterpartyInfoResponse">
    <part name="parameters" element="tns:PutCounterpartyInfoResponse"/>
  </message>
  <message name="PutHistoricalContracts">
    <part name="parameters" element="tns:PutHistoricalContracts"/>
  </message>
  <message name="PutHistoricalContractsResponse">
    <part name="parameters" element="tns:PutHistoricalContractsResponse"/>
  </message>
  <message name="PutContractStatus">
    <part name="parameters" element="tns:PutContractStatus"/>
  </message>
  <message name="PutContractStatusResponse">
    <part name="parameters" element="tns:PutContractStatusResponse"/>
  </message>
  <message name="ContractConclusionRequestAsync">
    <part name="parameters" element="tns:ContractConclusionRequestAsync"/>
  </message>
  <message name="ContractConclusionRequestAsyncResponse">
    <part name="parameters" element="tns:ContractConclusionRequestAsyncResponse"/>
  </message>
  <portType name="CounterPartyControlServiceImpl">
    <operation name="CheckAndSaveRegistrCounterpartySRM_Async">
      <input wsam:Action="http://spi2.ru/jaxws/datatypes/CounterPartyControlServiceImpl/CheckAndSaveRegistrCounterpartySRM_AsyncRequest" message="tns:CheckAndSaveRegistrCounterpartySRM_Async"/>
      <output wsam:Action="http://spi2.ru/jaxws/datatypes/CounterPartyControlServiceImpl/CheckAndSaveRegistrCounterpartySRM_AsyncResponse" message="tns:CheckAndSaveRegistrCounterpartySRM_AsyncResponse"/>
    </operation>
    <operation name="ConcurrentProcedureConclusionRequestAsync">
      <input wsam:Action="http://spi2.ru/jaxws/datatypes/CounterPartyControlServiceImpl/ConcurrentProcedureConclusionRequestAsyncRequest" message="tns:ConcurrentProcedureConclusionRequestAsync"/>
      <output wsam:Action="http://spi2.ru/jaxws/datatypes/CounterPartyControlServiceImpl/ConcurrentProcedureConclusionRequestAsyncResponse" message="tns:ConcurrentProcedureConclusionRequestAsyncResponse"/>
    </operation>
    <operation name="PutCounterpartyInfo">
      <input wsam:Action="http://spi2.ru/jaxws/datatypes/CounterPartyControlServiceImpl/PutCounterpartyInfoRequest" message="tns:PutCounterpartyInfo"/>
      <output wsam:Action="http://spi2.ru/jaxws/datatypes/CounterPartyControlServiceImpl/PutCounterpartyInfoResponse" message="tns:PutCounterpartyInfoResponse"/>
    </operation>
    <operation name="PutHistoricalContracts">
      <input wsam:Action="http://spi2.ru/jaxws/datatypes/CounterPartyControlServiceImpl/PutHistoricalContractsRequest"
             message="tns:PutHistoricalContracts"/>
      <output wsam:Action="http://spi2.ru/jaxws/datatypes/CounterPartyControlServiceImpl/PutHistoricalContractsResponse"
              message="tns:PutHistoricalContractsResponse"/>
    </operation>
    <operation name="PutContractStatus">
      <input wsam:Action="http://spi2.ru/jaxws/datatypes/CounterPartyControlServiceImpl/PutContractStatusRequest" message="tns:PutContractStatus"/>
      <output wsam:Action="http://spi2.ru/jaxws/datatypes/CounterPartyControlServiceImpl/PutContractStatusResponse" message="tns:PutContractStatusResponse"/>
    </operation>
    <operation name="ContractConclusionRequestAsync">
      <input wsam:Action="http://spi2.ru/jaxws/datatypes/CounterPartyControlServiceImpl/ContractConclusionRequestAsyncRequest" message="tns:ContractConclusionRequestAsync"/>
      <output wsam:Action="http://spi2.ru/jaxws/datatypes/CounterPartyControlServiceImpl/ContractConclusionRequestAsyncResponse" message="tns:ContractConclusionRequestAsyncResponse"/>
    </operation>
  </portType>
  <binding name="CounterpartyControlServicePortBinding" type="tns:CounterPartyControlServiceImpl">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="CheckAndSaveRegistrCounterpartySRM_Async">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ConcurrentProcedureConclusionRequestAsync">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PutCounterpartyInfo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PutHistoricalContracts">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="PutContractStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ContractConclusionRequestAsync">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="CounterpartyControlService">
    <port name="CounterpartyControlServicePort" binding="tns:CounterpartyControlServicePortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

